///general layout///
$background-color: black;
$button-background-color: green;
$button-hover-background: orange;
$main-text-color: white;
$secondary-text-color: wheat;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

//button layout
@mixin btn-layout {
    color: $secondary-text-color;
    background-color: $button-background-color;
    font-weight: bold;
    margin: auto;
}
@mixin btn-hover {
    color: $background-color;
    background-color: $button-hover-background;
}

//img-scale setup
@mixin img-scale {
    img {
        transform: scale(1);
        transition: 0.3s;
        max-width: 100%;
    }
    img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
// text-animation setup
@mixin text-animation {
    animation-name: changeColor ;
    animation-duration: 2.0s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    //text-color life circle
    @keyframes changeColor {
        0% {
            color: white;
        }
        50% {
            color: wheat;
        }
        100% {
            color: orange;
        }
    }
}
// images-animation setup
@mixin img-animation {
    animation-name: changeOpacity;
    animation-duration: 2.0s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    //opacity life circle
    @keyframes changeOpacity {
        0% {
            opacity: 0.4;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 1;
        }
    }
}

//* awesome mixin config *//
$color-bg: #111;
$color-particle: rgb(245, 89, 11);
$spacing: 1560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

@function particles($max) {
   $val: 0px 0px $color-particle;
   @for $i from 1 through $max {
      $val: #{$val},
      random($spacing)+px random($spacing)+px $color-particle;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}
//* end awesome mixin config *//

main {
    //** awesome backround-animation **//
    .animation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
    .particle,
    .particle:after {
    background: transparent;
    }

    .particle:after {
    position: absolute;
    content: "";
    top: $spacing;
    }

    .particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(600);
    height: 1px;
    width: 1px;

    }

    .particle-1:after {
    @include particles(600);
    height: 1px;
    width: 1px;
    }

    .particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(200);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    }

    .particle-2:after {
    @include particles(200);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    }

    .particle-3 {
    animation: animParticle $time-3 linear infinite;
    @include particles(100);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    }

    .particle-3:after {
    @include particles(100);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    }

    .particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(400);
    height: 1px;
    width: 1px;
    }

    .particle-4:after {
    @include particles(400);
    height: 1px;
    width: 1px;
    }

    @keyframes animParticle {
    from { transform: translateY(0px); }
    to   { transform: translateX($spacing); }
    }
    //** end awesome backround-animation **//

    
    .banner {
        background: linear-gradient(rgba(243, 240, 240, 0.053), rgba(0, 0, 0, 0.903)), url("../assets/warzone_page/banner/war-zone-download.jpg");
        background-size: cover;
        .card {
            max-width: 100%;
            background: none;
            padding-top: 80px;
            img {
                max-width: 80%;
                margin: auto;
            }
            p {
                color: $main-text-color;
                text-align: center;
                max-width: 90%;
                margin: auto
            }
            .btn {
                @include btn-layout();
                width: 250px;
            }
            .btn:hover {
                @include btn-hover();
            }
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }
        }
        
        
    }
    .section-1 {
        background-color: $background-color;
        color: $main-text-color;
        padding-top: 40px;
        .row {
            max-width: 85%;
            margin: auto;
        }
    }
    .section-2 {
        background-color: $background-color;
        color: $main-text-color;
        padding-top: 30px;
        padding-bottom: 30px; 
        .row {
            max-width: 90%;
        }
    }
    
}