* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main .banner {
  background-color: black;
}
main .banner .card {
  background-color: black;
  max-width: 100%;
}
main .banner img {
  max-width: 100%;
  padding-top: 60px;
  -webkit-animation-name: changeOpacity;
          animation-name: changeOpacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes changeOpacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes changeOpacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
main .banner p {
  color: white;
  text-align: center;
  max-width: 50%;
  margin: auto;
}
main .banner .btn {
  color: wheat;
  background-color: green;
  font-weight: bold;
  margin: auto;
  width: 250px;
}
main .banner .btn:hover {
  color: black;
  background-color: orange;
}
main .section-1 {
  background-color: black;
}
main .section-1 h1 {
  color: white;
  text-align: center;
  padding-top: 40px;
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: wheat;
  }
  100% {
    color: orange;
  }
}
@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: wheat;
  }
  100% {
    color: orange;
  }
}
main .section-1 h2 {
  color: white;
  text-align: center;
  font-size: medium;
}
main .section-2 {
  background-color: black;
}
main .section-2 h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: wheat;
  }
  100% {
    color: orange;
  }
}
main .section-2 h2 {
  color: white;
}
main .section-2 .col-md-6 {
  padding: 20px;
}
main .section-2 .col-md-6 .card-body {
  max-width: 100%;
  background-color: black;
  padding: 0;
  box-shadow: 5px 5px 10px 5px rgb(136, 134, 134);
}
main .section-2 .col-md-6 img {
  -webkit-animation-name: changeOpacity;
          animation-name: changeOpacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@keyframes changeOpacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
main .section-3 {
  background-color: black;
  padding-top: 40px;
}
main .section-3 h1, main .section-3 p {
  color: white;
}
main .section-3 .col-md-3 {
  display: flex;
  justify-content: end;
}
main .section-3 .col-md-3 .card {
  border: 0;
}
main .section-3 .col-md-3 .card-body {
  background-color: black;
  padding: 100px 0 0 40px;
}
main .section-3 .col-md-3 .btn {
  color: wheat;
  background-color: green;
  font-weight: bold;
  margin: auto;
  width: 150px;
}
main .section-3 .col-md-3 .btn:hover {
  color: black;
  background-color: orange;
}
main .section-3 .col-md-9 img {
  max-width: 98%;
}
main .section-4 {
  background-color: black;
  padding: 0;
}
main .section-4 img {
  max-width: 100%;
}
main .section-4 h1 {
  color: white;
  text-align: center;
  padding: 40px 0 20px 0;
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: wheat;
  }
  100% {
    color: orange;
  }
}
main .section-5 .col-md-6 {
  background-color: black;
}
main .section-5 .col-md-6 p {
  color: white;
}
main .section-5 .col-md-6 img {
  max-width: 100%;
  -webkit-animation-name: changeOpacity;
          animation-name: changeOpacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@keyframes changeOpacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
main .section-5 .col-md-6 .card {
  border: 0;
}
main .section-5 .col-md-6 .card-body {
  background-color: black;
  padding: 150px 30px 0 40px;
}
main .section-5 .col-md-6 .btn {
  color: wheat;
  background-color: green;
  font-weight: bold;
  margin: auto;
}
main .section-5 .col-md-6 .btn:hover {
  color: black;
  background-color: orange;
}
main .section-6 {
  background-color: black;
  padding-top: 40px;
}
main .section-6 h1, main .section-6 p {
  color: white;
}
main .section-6 .col-md-4 {
  display: flex;
  justify-content: start;
}
main .section-6 .col-md-4 .card {
  border: 0;
}
main .section-6 .col-md-4 .card-body {
  background-color: black;
  padding: 30px 20px 20px 40px;
}
main .section-6 .col-md-4 .btn {
  color: wheat;
  background-color: green;
  font-weight: bold;
  margin: auto;
  padding-left: 10px;
}
main .section-6 .col-md-4 .btn:hover {
  color: black;
  background-color: orange;
}
main .section-6 .col-md-8 img {
  max-width: 98%;
}/*# sourceMappingURL=warzone_style.css.map */