* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  background-color: black;
}
main .banner {
  background: none;
}
main .banner .row {
  padding: 80px 0 40px 0;
}
main .banner .row .col-md-8 {
  max-width: 100%;
}
main .banner .row iframe {
  padding-left: 10px;
}
main .banner .row .card {
  background: none;
}
main .banner .row .col-md-7, main .banner .row .col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .banner .row p {
  color: white;
}
main .banner .row img {
  max-width: 90%;
  margin: auto;
  text-align: center;
  align-self: center;
}
main .section-1 {
  padding: 40px 0 40px 0;
  background: none;
}
main .section-1 .row {
  max-width: 90%;
  margin: auto;
}
main .section-1 .card {
  background: none;
}
main .section-1 h2, main .section-1 h5, main .section-1 p {
  color: white;
  text-align: center;
}
main .section-1 img {
  transform: scale(1);
  transition: 0.3s;
  max-width: 100%;
}
main .section-1 img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
main .section-2 {
  background: none;
}
main .section-2 h2, main .section-2 p {
  color: white;
  text-align: center;
}
main .section-2 .sub_container .row {
  padding-top: 30px;
  padding-bottom: 30px;
  background: none;
}
main .section-2 .sub_container img {
  display: block;
  margin: auto;
  width: 70%;
}
main .section-2 .sub_container #slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-2 .sub_container .container {
  max-width: 1400px;
  margin: auto;
}
@media screen and (max-width: 1600px) {
  main .section-2 .sub_container .container {
    width: 100%;
  }
}
main .section-2 .sub_container .sub_container {
  width: 85%;
  margin: auto;
}
main .section-2 .sub_container #controls {
  display: flex;
  justify-content: space-between;
}
main .section-2 .sub_container #controls i {
  color: black;
  font-size: 1.5rem;
}
main .section-2 .sub_container #controls .previous, main .section-2 .sub_container .next {
  padding: 2px;
  width: 45px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.3s ease-in-out;
  background-color: greenyellow;
  box-shadow: 0 0 5px rgb(233, 227, 227);
}
main .section-2 .sub_container #controls .previous:hover, main .section-2 .sub_container .next:hover {
  background-color: orange;
  border: 2px solid wheat;
}
main .section-2 .sub_container .slide-img {
  width: 100%;
  height: 240px;
  border: 1px solid wheat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
main .section-2 .sub_container .slide-img:hover {
  box-shadow: 0 0 0 300px rgba(3, 138, 23, 0.9) inset;
}
main .section-2 .sub_container .slide-img a {
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
}
main .section-2 .sub_container .slide-img:hover a {
  opacity: 1;
  transform: scale(1);
}
main .section-2 .sub_container .img-1 {
  background-image: url("../assets/warzone_mobile_page/section_2/img1.png");
}
main .section-2 .sub_container .img-2 {
  background-image: url("../assets/warzone_mobile_page/section_2/img2.png");
}
main .section-2 .sub_container .img-3 {
  background-image: url("../assets/warzone_mobile_page/section_2/img3.png");
}
main .section-2 .sub_container .img-4 {
  background-image: url("../assets/warzone_mobile_page/section_2/img4.png");
}
main .section-2 .sub_container .img-5 {
  background-image: url("../assets/warzone_mobile_page/section_2/img5.png");
}/*# sourceMappingURL=warzone_mobile_style.css.map */