.img-container {
    position: relative;
    width: 450px;
    height: 350px;
    margin: 50px auto;
    overflow: hidden;
    .more {
        position: absolute;
        padding-left: 10px; 
        width: 90px;
        height: 40px;
        background: rgba(255, 255, 255, .6);
        color: #222;  
        letter-spacing: 1px;
        line-height: 40px;
        text-align: center; 
        text-shadow: 0 1px 1px #fff;
        // -webkit-transition: color .5s;
        transition: color .5s;
        z-index: 1;
    }
    .more:before {
        position: absolute;
        content: '';
        left: 0;
        height: 40px;
        width: 0;
        background: rgb(16, 16, 16);
        border-right: 10px solid #464fff;
        // -webkit-transition: width .3s;
        transition: width .3s;
        z-index: -1;
    }
}
.img-container > a:hover .more,
.img-container > a:hover .more:before {
        width: 90px;
        color: #ff46e3;
}
    
.img-container > a:hover img {
    opacity: .4;
    // -webkit-transform: scale(1.1,1.1) rotate(1deg);
    transform: scale(1.1,1.1) rotate(5deg);
    // -webkit-transition: all 3s;
    transition: all 3s;
}

.img-container img {  
    // -webkit-transition: all .5s;
    transition: all .5s;
} 
  
  