* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
/* Banner */
.banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(84, 205, 214, 0.5), rgba(84, 205, 214, 0.7), white), 
    url("images/banner.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.miniBanner {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.miniBanner:hover {
    width: 200px;
    transition: 0.5s;
}
.banner-text {
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner-text h1 {
    font-size: 130px;
    animation-name: changeColor ;
    animation-duration: 2.0s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

}
@keyframes changeColor {
    0% {
        color: white;
    }
    50% {
        color: rgb(203, 203, 7);
    }
    100% {
        color: rgb(203, 118, 7);
    }
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-button {
    margin: 50px auto 0;
    
}
.banner-button a {
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .5px solid white;
    z-index: 1;
    transition: color 0.5s;
}
.banner-button a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: whitesmoke;
    z-index: -1;
    transition: 0.7s;
}
.banner-button a:hover span {
    width: 100%;
}
.banner-button a:hover {
    color: black;
    font-weight: bolder;
}
/* end banner */

/* sideNav */
#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 250px;
    background: linear-gradient(rgba(76, 73, 73, 0.898), #027f57);
    z-index: 2;
    transition: right 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    text-decoration: none;
    color: orange;
}
#menuButton {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuButton img {
    width: 40px;
}
/* end sideNav */

/* features */
.feature {
    width: 100%;
    padding: 70px 0;
}
.feature-box {
    width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.title-text  {
    text-align: center;
    padding-bottom: 70px;
}
.title-text p {
    margin: auto;
    font-size: 20px;
    color: green;
    font-weight: thin;
    position: relative;
    z-index: 1;
    display: inline-block;
}
/* create the leaf */
.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(green,white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1 {
    padding-top: 10px;
    font-size: 50px;
}
.title-text h1:hover {
    color: orange;
    transition: 0.3s;
}
.features {
    flex-basis: 50%;
}
.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
    animation-name: changeOpacity ;
    animation-duration: 3.0s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes changeOpacity {
    0% {
        opacity: 0.9;
        border-radius: 10%;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.3;
        border-radius: 50%;
    }
}
.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: green;
}
.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .bi {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: green;
}
.feature-text {
    text-align: initial;
    padding: 0 20px;
}
/* end features */

/* services */
.service {
    width: 100%;
    padding: 70px 0;
    background: white;
}
.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service {
    flex-basis: 50%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-service img {
    width: 95%;
    height: 95%;
    border-radius: 7px;
}
.overlay {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 13px;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(gray,green);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 0.7;
}
.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr {
    background: white;
    width: 60%;
    height: 2px;
    border: 0;
    margin: 15px auto;
}
.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}
/* end services */

/* testimonial */
.testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgb(183, 216, 209);
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p {
    font-size: 14px;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50px;
}

.user-info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 166, 255);
}
.user-info small {
    color: green;
}
.testimonial-col:hover {
    transform: translateY(10px);
}
/* end testimonial */

/* footer */
.footer {
    width: 100%;
    padding: 100px 0 20px;
    background: linear-gradient(rgb(255, 254, 254), #caf7f2);
    position: relative;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}
.footer-left .bi, .footer-right .bi {
    font-size: 20px;
    color: #027f57;
    margin:  10px;
}
.footer-row h1 {
    margin: 10px 0;
}
.footer-row p {
    line-height: 35px;
}
.footer-img {
    max-width: 370px;
    height: 250px;
    border-radius: 150px;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.footer-img:hover {
    opacity: 1;
    transition: 0.5s;
}
.social-links {
    text-align: center;
}
.social-links .bi {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #027f57;
    cursor: pointer;
    transition: 0.3s;
}
.social-links #facebook:hover {
    color: rgb(0, 166, 255);
}
.social-links #instagram:hover {
    color: rgb(232, 55, 11);
}
.social-links #twitter:hover {
    color: rgb(0, 166, 255);
}
.social-links #youtube:hover {
    color: rgb(255, 34, 0);
}
.social-links p {
    font-size: 12px;
    margin-top: 15px;
}

/* end footer */